body {
    position: static;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.center-paragraph{
    text-align: center;
}

/* nav-bar text */
@font-face {
    font-family: "Helvetica Neue LT Std Nav";
    src: url('./assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-MdCn.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
  }

/* nav-bar small logo text */
@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url('./assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkCn.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
  }  
/* Hero scroll down text */
@font-face {
    font-family: "Helvetica Neue LT Std Scroll";
    src: url('./assets/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtCn.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
  } 

#nav-bar, #nav-list {
    display: flex;
    position: relative;
}

#nav-bar {
    height: 130px;
}

main {
    position: relative;
    height: auto;
}

#hero {
    position: relative;
    width: 100vw;
    height: 80vh;
    height: auto;
}

#large-color-logo {
    position: absolute;
    top: 10px;
    left: 10%
}

#nav-list-container {
    position: relative;
    top: 90px; left: 20%;
    width: 70%;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
#nav-list {
    justify-content: space-between;
}

#nav-list li {
    font-family: "Helvetica Neue LT Std Nav", sans-serif;
    color:#3585b7;
}

#small-nav-logo {
    position: absolute;
    top: 0px; left: 90%;
}

#small-nav-logo-background {
    position: absolute;
    top: 0px; right: 0px;
}

#graphic-small-nav-logo {
    position: absolute;
    top: 5px; left: 10px;
}

#small-nav-logo-white-line {
    position: absolute;
    top:42px; left:0;
}

#small-nav-logo-text {
    position: absolute;
    top:42px;
    font-family: "Helvetica Neue LT Std", sans-serif;
    font-size: .4em;
    font-weight: 400;
    color:white;

}

#background-video {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
    left:0;
    top:0;
    z-index: -1;
}

#global-logo {
    position: absolute;
    top: 25%;
    left: 55%;
}

#scroll-down-text {
    font-family: "Helvetica Neue LT Std Scroll", sans-serif;
    position: absolute;
    top: 90%;
    left: 44%;
    color: white;
}

#scroll-down-arrow {
    position: absolute;
    top: 95%;
    left: 50%;
}

#about, #what-we-do-container {
    width: 65%;
    margin:auto;
    padding: 1em 0em;
}

#rule {
    color:#4e8abe;
    width: 100vw;
    height: 10px;
}